.upload-grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 0.7fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . . . ."
    "Preview-Area Preview-Area Content-Outline Content-Outline Content-Outline"
    "Preview-Area Preview-Area Content-Outline Content-Outline Content-Outline"
    "Preview-File Preview-File Submit-Area Submit-Area Submit-Area";
}
.upload-grid-container div {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family: math;
    color: white;
}
@font-face {
    font-family: "test";
    src:url("./fonts/Mark Simonson - Proxima Nova Alt Condensed Semibold.otf");
}
.upload-grid-container input{
    width: 80%;
    height: 26px;
    font-size: 16px;
}

.upload-grid-container button {
    width: 40%;
    height: 60%;
    background-color: #F04128;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    color: white;
    border-radius: 5px;
    font-family: math;
}

.Submit-Area .button-wrapper {
    width: 100%;
    height: 100%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.name-rect {
    width: 120px;
    height: 100%;
    padding-left: 10%;
    padding-right: 8px;
    font-size: 22px;
}

.content-rect {
    width: 70%;
    height: 100%;
}

.Preview-Area {
    grid-area: Preview-Area;
    z-index: 1;
}
.Preview-Area img{
    background-color: white;
    margin: 5%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.Preview-File {
    grid-area: Preview-File;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #9effff;*/
}
.Preview-File input[type="file"]{
    width: 90%;
    height: 28px;
    color: white;
    font-family: 'test';
}

.Content-Outline {
    grid-area: Content-Outline;
    justify-content: left;
    flex-direction: column;
    background-color: #525252;
    margin-right: 5%;
    margin-left: 2%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 7px;
}
.Content-Name {
    justify-content: left;
    width: 100%;
    height: 100%;
    /*background-color: #2e7d32;*/
}

.Creator-Name {
    justify-content: left;
    width: 100%;
    height: 100%;
    /*background-color: #8888dd;*/
}

.Submit-Area {
    grid-area: Submit-Area;
    display: flex;
    align-items:center;
    justify-content: center;
    /*background-color: #cc6666;*/
}
